<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand ml-3" routerLink="/home">MOVIES</a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
      </ul>

      <div class="d-flex">
        <input #txtBuscar 
               (keyup.enter)="buscarPelicula(txtBuscar.value)"
               class="form-control mr-2" 
               type="search" 
               placeholder="Buscar película" 
               aria-label="Search">

        <button (click)="buscarPelicula(txtBuscar.value)" class="btn btn-outline-success" type="submit">Buscar</button>
      </div>

    </div>
  </nav>